<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160323747251-nv3tb98gk80r8724il1d5564q8i58tc7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160323747251-nv3tb98gk80r8724il1d5564q8i58tc7</string>
	<key>API_KEY</key>
	<string>AIzaSyDuJuWfGTlIB50SmNv7gAkz0W2-RhTgaFE</string>
	<key>GCM_SENDER_ID</key>
	<string>160323747251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AgoraRNQuickstart</string>
	<key>PROJECT_ID</key>
	<string>react-cam-test</string>
	<key>STORAGE_BUCKET</key>
	<string>react-cam-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160323747251:ios:465d1d7beb8eb01e4b9fc6</string>
	<key>DATABASE_URL</key>
	<string>https://react-cam-test-default-rtdb.firebaseio.com</string>
</dict>
</plist>